{% extends 'SDMSapp/base.html' %}

{% block title %}
    View Pictures - Sports Details Management System
{% endblock title %}

{% block content %}
    <div class="mt-4">
        <h1>View Pictures</h1>
        <form method="get" class="form-inline mb-4 justify-content-center">
            <label for="item" class="mr-2">Item:</label>
            <select name="item" id="item" class="form-control mr-2">
                {% for item in items %}
                    <option value="{{ item.id }}">{{ item.item_name }}</option>
                {% endfor %}
            </select>
            <label for="year" class="mr-2">Year:</label>
            <input type="number" name="year" id="year" class="form-control mr-2" value=" ">
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>

        {% if pictures %}
            <div class="d-flex justify-content-center">
                <div class="row">
                    {% for picture in pictures %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="{{ picture.image.url }}" class="card-img-top" alt="Picture">
                                <div class="card-body">
                                    <p class="card-text">{{ picture.description }}</p>
                                    <div class="button-group">
                                        <a href="{{ picture.image.url }}" download class="btn btn-success btn-custom">Download</a>
                                        <a href="{% url 'view_players' picture.item.id %}" class="btn btn-info btn-custom">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p class="text-center">No pictures available for the selected item and year.</p>
        {% endif %}
    </div>
{% endblock content %}
